.body{
 margin: 0px;
}
.card-container{
 display: flex;
background-color: #ffffff ;
}
.row{
 display: flex;
}
/* .card-sm{
 display: flex;
 padding: 20px;
 margin: 5px;
 margin-left: 50px;

background-color: #ffff;
} */

@media only screen and (max-width: 600px) {
 /* Styles for screens smaller than 600px */
}